<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='shortcut icon' href='/favicon.ico' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='libs/bootstrap/dist/css/bootstrap.min.css' />
  <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css" />
</head>

<body>
  <div class="container-fluid">
      <!-- Header template -->
      <% include templates/header %>
      <!-- Header template -->

      <div class="row">

        <!-- Side nav template -->
        <% include templates/side-nav %>
        <!-- Side nav template -->

        <!-- Search flight template -->
        <% include templates/search-flight %>
        <!-- Search flight template -->

      </div>
  </div>

  <div class="backdrop">
    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>

  <script src="libs/jquery/dist/jquery.js"></script>
  <script src="/javascripts/plugins.js"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>