<header class="row">
    <div class="col-xs-12">
        <h3>
            <i class="fa fa-bars hidden-md hidden-lg navicon"></i>
            <span><%= boldTitle %></span> <span class="unbold"><%= normalTitle%></span>
        </h3>
    </div>
</header>