<div class="col-md-10 col-md-offset-2 main-content">
    <div class="col-xs-12 search-cont">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="ribbon">
                    <div class="in-block ribbon-plane">
                        <i class="fa fa-plane"></i>
                        <div class="arrow-up"></div>
                    </div>
                </div>
                <span class="text-uppercase">
                    Search your Flight
                </span>
            </div>
        </div>
        <div class="search-panel">
            <div id="search-controls">
                <div class="col-xs-12 col-sm-6">
                    <h4 class="text-uppercase" id="one-way-heading">One Way</h4>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h4 id="two-way-heading">
                        <label class="no-margin">
                            <input type="checkbox" id="if-return-trip-chk">
                            <span class="text-uppercase">Return Trip</span>
                        </label>
                    </h4>
                </div>
            </div>
            <div class="col-xs-12 btn-controls align-right">
                <button id="btn-clear" class="btn btn-default">Clear</button>
                <button id="btn-search" class="btn btn-primary">Search</button>
            </div>

            <div class="clearfix"></div>

            <!-- Search results template -->
            <div>
                <% include search-results %>
            </div>
            <!-- Search results template -->

        </div>
    </div>
</div>