<div class="col-md-2 side-nav no-padding hidden-xs hidden-sm">
    <nav>
        <ul class="list-group">
            <li class="list-group-item list-heading">Air Bookings</li>
            <li class="list-group-item">Book your Trip</li>
            <li class="list-group-item">Edit your Trip</li>
            <li class="list-group-item">Cancel your Trip</li>
            <li class="divider"></li>
            <li class="list-group-item list-heading">Cruise Bookings</li>
            <li class="list-group-item">Book your Trip</li>
            <li class="list-group-item">Edit your Trip</li>
            <li class="list-group-item">Cancel your Trip</li>
            <li class="divider"></li>
            <li class="list-group-item list-heading">Train Bookings</li>
            <li class="list-group-item">Book your Trip</li>
            <li class="list-group-item">Edit your Trip</li>
            <li class="list-group-item">Cancel your Trip</li>
            <li class="divider"></li>
            <li class="list-group-item list-heading">Bus Bookings</li>
            <li class="list-group-item">Book your Trip</li>
            <li class="list-group-item">Edit your Trip</li>
            <li class="list-group-item">Cancel your Trip</li>
            <li class="divider"></li>
            <li class="list-group-item list-heading">Car Bookings</li>
            <li class="list-group-item">Book your Trip</li>
            <li class="list-group-item">Edit your Trip</li>
            <li class="list-group-item">Cancel your Trip</li>
        </ul>
    </nav>
</div>