body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #f1f1f1 !important;
}

.unbold {
    font-weight: 200;
}

.in-block {
    display: inline-block;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.align-right {
    text-align: right;
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    display: none;
}

.backdrop .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}

thead>tr>th {
    text-align: center;
    background-color: #f5f5f5;
    text-transform: uppercase;
}

td {
    text-align: center;
    color: #777;
}

.txt-bg {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.required label::after {
    content: '*';
    color: #ff0000;
    margin-left: -3px;
}

.btn-controls .btn {
    width: 100px;
}

button.btn {
    box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
    border-radius: 2px;
}

.btn.btn-primary {
    background-color: #0060ce;
    color: #fff;
    border: 1px solid #196fd2;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active {
    background-color: #004ca4;
}

.tile {
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
    border: 1px solid #efefef;
    border-radius: 4px;
    background-color: #fff;
    padding: 10px 15px;
}

header {
    /* background-color: #4285f4; */
    background-color: #555;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.side-nav {
    background-color: #555;
    position: fixed !important;
    height: calc(100vh - 66px);
    margin-top: 66px;
    overflow: auto;
}

nav .list-group-item {
    background-color: transparent;
    border-radius: 0;
    color: #fff;
    border: 0;
    padding-left: 35px;
    cursor: pointer;
}

nav .list-group-item:hover {
    background-color: #777;
}

nav .list-heading {
    padding-left: 15px;
    cursor: default;
    text-transform: uppercase;
}

nav .list-heading:hover {
    background-color: transparent;
}

li.divider {
    position: relative;
}

li.divider::before {
    content: ' ';
    border-bottom: 1px solid #aeaeae;
    width: 80%;
    position: absolute;
    top: 50%;
    margin-left: 10%;
}

.main-content {
    margin-top: 66px;
}

.panel-heading {
    font-size: 18px;
}

.panel .panel-body {
    padding-top: 25px;
}

.ribbon {
    display: inline-block;
    width: 35px;
    height: 20px;
    position: relative;
}

.ribbon>.ribbon-plane {
    position: absolute;
    background-color: #7a7a7a;
    width: 100%;
    height: 55px;
}

.ribbon-plane>.fa-plane {
    margin-left: calc(50% - 7px);
    color: #fff;
}

.ribbon-plane>.arrow-up {
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 30px solid #f1f1f1;
}

.search-panel h4 {
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 0;
    border: 1px solid #f1f1f1;
    border-bottom: 2px solid #ddd;
}

.search-panel .tile {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.trip-type-btns {
    text-align: center;
}

.btn-controls {
    margin-top: 15px;
}

.flight-details {
    margin-top: 25px;
    padding: 0 15px;
    display: inline-block;
    max-height: 500px;
    overflow: auto;
}

.flight-details.split {
    width: 50%;
}

.flight-details.single {
    width: 100%;
}

@media(max-width: 991px) {
    .flight-details.split {
        width: 100%;
    }
}

.navicon {
    margin-right: 10px;
}